body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000; /* Warna latar belakang */
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  .navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
  }
  
  .navbar .navbar-logo span {
    color:#690a8b ;
  }
  
  .navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
  }
  
  .navbar .navbar-nav a:hover {
    color: #690a8b;
  }
  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #690a8b;
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }
  .navbar .navbar-extra a:hover {
    color:#690a8b;
  }

.container {
    max-width: 900px;
    height: 900px;
    margin-left: 21%;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px; 
    margin-top: 20px;
    animation: fadeIn 0.5s ease-in-out;
}
.summary-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 52px;
    height: 1000px;
}

.summary-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    
}

.summary-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.summary-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.button-container {
    margin-top: 20px;
}

.cta-button {
    background-color: #ff8800;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #cc6600;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333; /* Garis bawah untuk judul */
    padding-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

a {
    color: #ff8800;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
input{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;

}
label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
select{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
}

button{
  width: 100px;
  height: 50px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1); 
}
button:hover{
  background-color: #690a8b;
}
